#divRow {
    border-bottom: 2px solid; 
    padding-bottom:6px;
}

#divThree {
    padding-top: 20px;
    padding-bottom: 10px;
}

.gameTitle {
    width:250px; 
    height:200px;
}

.form-group, .col-md-6 {
    
}